@import "~normalize.css";
@import "../components/Forms/AddAuthor/_AddAuthor.css";


.App {
  width: 100vw;
  height: 100vh;
  background: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
}

