.form {
  min-width: 400px;
  max-width: 800px;

  .title {
    color: #333;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
  }

  select,
  input, textarea {
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 20px;

    &:focus {
      outline: 2px solid darkorange;
      border: 1px solid #d54d1b;
      box-shadow: coral 0 0 2px 2px;
    }
  }

  input[type="submit"] {
    width: 100%;
    opacity: 1;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    appearance: none;
    border-radius: 4px;
    transition: 0.3s all;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: 1;
    }

    &:disabled {
      cursor: not-allowed;

      &:hover {
        opacity: 1;
      }
    }
  }

  .text {
    margin-bottom: 10px;
    text-align: center;
  }

  .error {
    min-height: 18px;
    margin-top: 0;
    font-size: 14px;
    text-align: center;

  }

  .button {
    text-transform: lowercase;
    outline: none;
    border: none;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}





